.form {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.form_elem {
    width: 100%;
    max-width: 350px;
    margin-bottom: 30px !important;

    &:last-child {
        margin-bottom: 0 !important;
    }
}
